[submodule "workdir/poky"]
	path = workdir/poky
	url = https://git.yoctoproject.org/poky
	branch = scarthgap
[submodule "workdir/meta-openembedded"]
	path = workdir/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "workdir/meta-raspberrypi"]
	path = workdir/meta-raspberrypi
	url = https://git.yoctoproject.org/meta-raspberrypi
	branch = scarthgap
[submodule "workdir/meta-qt6"]
	path = workdir/meta-qt6
	url = https://code.qt.io/yocto/meta-qt6.git
	branch = 6.9.0
[submodule "workdir/meta-rauc"]
	path = workdir/meta-rauc
	url = https://github.com/rauc/meta-rauc.git
	branch = scarthgap